

<!--<nav class="navbar  navbar-dark bg-dark" *ngIf="userDetails"> -->
  <nav class="navbar  navbar-dark bg-dark" > 
    <a class="navbar-brand text-white">iQApp - JWT Auth System</a>
    
    <div>
        <!-- AS: ATTENZIONE: la riga seguente dà un errore in output (anche se il dato viene mostrato correttamente!!):
        VM6539 HomeComponent.ngfactory.js:36 ERROR TypeError: Cannot read property 'FullName' of undefined at Object.eval [as updateRenderer]
            
        E' necessario aggiungere *ngIf="userDetails" nel tag <nav> !!!
        -->
        <a class="navbar-dark text-white" *ngIf="userDetails">Benvenuto {{userDetails.FullName}}     </a> 

        <a class="navbar-dark text-white"></a>
        <button class="btn btn-danger my-2 my-sm-0" *ngIf="userDetails" (click)="onLogout()">Logout</button>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light"  >
  <!--<a class="navbar-brand" routerLink="">iQApp</a> -->
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--<div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">-->
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payments" routerLinkActive="active">Payments</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/bank" routerLinkActive="active">Bank Account</a>
      </li>
    </ul>
  </div>
</nav>

<p></p>
              
<div class="container">
  <router-outlet></router-outlet>     
</div>
